/* Color Sheme */
/* https://coolors.co/2d3047-419d78-e0a458-ffdbb5-c04abc */

:root
{
    --primaryColor: #1A659E;
    --secondaryColor: #004E89;
    --tertiaryColor: #F7C59F;
    --smallColor: #EFEFD0;

    --defaultFont: 'Playfair Display', serif;
}

html
{
    font-family: var(--defaultFont);
}

body
{
    padding: 0;
    margin: 0;
}

/* ==========================
        NAVBAR
    =========================
*/

.navbar
{
    text-align: center;
    list-style-type: none;

    background-color: var(--tertiaryColor);

    overflow: hidden;

    font-size: 1.5em;
}

.navbar li
{
    display: inline;
}

.navbar a
{
    text-decoration: none;

    padding: 10px 16px;
    color: #419D78;

    text-align: center;
}

/* ==========================
        Main Container
    =========================
*/

main.container
{
    display: flex;
    
    justify-content: center;
    align-items: center;

    background-color: var(--primaryColor);
    color: var(--tertiaryColor);
}

/* ==========================
        Center Container
    =========================
*/

main.container .centerContainer
{
    letter-spacing: 1px;
    padding: 10px;
    margin: 10rem;
    border: 1px solid #2D3047;
    box-shadow: -10px 5px 5px #2D3047;

    flex: 0 1 50em;
}

.centerContainer p
{
    font-size: 1.2em;
}

/*
.centerContainer button
{
    background-color: #2D3047;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    color: #419D78;
    padding: 10px 24px;
    text-decoration: none;

    margin: 10px;
}

.centerContainer a
{
    text-decoration: none;
    color: var(--secondaryColor);
}
*/

/* FOOTER */

footer
{
    background-color: var(--secondaryColor);
}

/* ==========================
        MOBILE MEDIA QUERIES
   ==========================
*/

/*
@media screen and (max-width: 900px)
{
    .navbar li
    {
        display: block;
        padding: 5px;
    }

    .centerContainer button
    {
        display: inline;
        float: none
    }

    .bottomButtons
    {
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;

        justify-content: center;
    }

    .centerContainer
    {
        box-shadow: none;
        border: 3px solid #2D3047;
    }
}
*/