/* Color Sheme */
/* https://coolors.co/2d3047-419d78-e0a458-ffdbb5-c04abc */

*
{
    /* External Font */
    font-family: 'Playfair Display', serif;
}

body
{
    padding: 0;
    margin: 0;
}

.container
{
    height: 97vh;
    position: relative;
    border: 4mm ridge #2D3047;
    background-color: #419D78;
    color: #2D3047;
}

/* .centerContainer is child of .container */
.centerContainer
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    letter-spacing: 1px;
}

.centerContainer h1
{
    text-shadow: 5px 5px 5px pink;
}

.navbar
{
    text-align: center;
    list-style-type: none;

    background-color: #2D3047;

    overflow: hidden;

    font-size: 1.5em;
}

.navbar li
{
    display: inline;
}

/* Not working >:( */ /*
@media screen and (max-width: 900px)
{
    .navbar li
    {
        display: block;
    }
}
*/

.navbar a
{
    text-decoration: none;

    padding: 10px 16px;
    color: #419D78;

    text-align: center;
}