/* Color Sheme */
/* https://coolors.co/2d3047-419d78-e0a458-ffdbb5-c04abc */

*
{
    /* External Font */
    font-family: 'Playfair Display', serif;
}

body
{
    padding: 0;
    margin: 0;

    border: 4mm ridge #2D3047;
}

/* ==========================
        Center Container
    =========================
*/

.container
{

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 88.8vh;
    background-color: #419D78;
    color: #2D3047;
    
    /*
    
    == NOT USING ==

    height: 97vh;
    position: relative;
    border: 4mm ridge #2D3047;
    background-color: #419D78;
    color: #2D3047;
    */
}

/* .centerContainer is child of .container */
.centerContainer
{
    /*

    == NOT USING ==
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    */

    letter-spacing: 1px;

    /* ====== */

    padding: 10px;
    border: 1px solid #2D3047;
    box-shadow: -10px 5px 5px #2D3047;

    flex: 0 1 50em;
}

.centerContainer p
{
    font-size: 1.2em;
}

.centerContainer h1
{
    text-shadow: 5px 5px 5px pink;
}

.centerContainer button
{
    background-color: #2D3047;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    color: #419D78;
    padding: 10px 24px;
    text-decoration: none;

    margin: 10px;
}

.centerContainer a
{
    text-decoration: none;
    color: #419D78;
}

#second
{
    float: right;
}

/* ==========================
        NAVBAR
    =========================
*/

.navbar
{
    text-align: center;
    list-style-type: none;

    background-color: #2D3047;

    overflow: hidden;

    font-size: 1.5em;
}

.navbar li
{
    display: inline;
}

.navbar a
{
    text-decoration: none;

    padding: 10px 16px;
    color: #419D78;

    text-align: center;
}

/* ==========================
        MOBILE MEDIA QUERIES
   ==========================
*/

@media screen and (max-width: 900px)
{
    .navbar li
    {
        display: block;
        padding: 5px;
    }

    .centerContainer button
    {
        display: inline;
        float: none
    }

    .bottomButtons
    {
        display: -webkit-flex;
        display: flex;

        flex-flow: row wrap;

        justify-content: center;
    }

    /* REMOVE ALL SPECIAL STYLES */

    .centerContainer h1
    {
        text-shadow: none;
    }

    .centerContainer
    {
        box-shadow: none;
        border: 3px solid #2D3047;
    }
}